@media screen and (min-width: 428px) {
	.hero {
		width: 428px;
	}

	.hero-title {
		width: 320px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.mobile-menu {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1000;
		top: 0;
		left: 0;
		background-color: #ffffff;
		box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 1px 6px rgba(46, 47, 66, 0.08);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity var(--function-trasition), visibility var(--function-trasition);
	}

	.mobile-menu.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.mobile-menu-container {
		margin-right: 0;
		margin-left: 0;
		position: relative;
		padding-left: 40px;
		padding-top: 80px;
		padding-bottom: 40px;
	}

	.mobile-menu-close-btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 24px;
		right: 16px;
		padding: 0;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: var(--footer-text-color);
		border: 1px solid var(--secondary-text-color);
	}

	.mobile-menu-close-icon {
		width: 8px;
		height: 8px;
	}

	.mobile-items-pages:not(:last-child) {
		margin-bottom: 40px;
	}

	.mobile-link {
		position: relative;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--secondary-text-color);
	}

	.current.mobile-link {
		color: var(--accent-color);
	}


	.mobile-link-contacts {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--accent-color);
	}

	.mobile-menu-address {
		font-style: normal;
	}

	.mobile-menu-phone {
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--logo-color);
	}

	.mobile-menu-mail {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--body-text-color);
	}

	.mobile-menu-address {
		margin-top: 284px;
	}

	.mobile-address-contacts:not(:last-child) {
		margin-bottom: 40px;
	}

	.mobile-social {
		margin-top: 48px;
	}

	.mobile-social-list {
		display: flex;
	}

	.nav-menu {
		display: none;
	}

	.address {
		display: none;
	}
}